<section>
    <div class="container">
        <div class="row justify-content-center align-items-center m-2">
        <div class="card mb-4 shadow-sm img-2 p-0 m-0">
            <img class="bd-placeholder-img card-img-top" src="../../assets/fruits.jpg" alt="">
            
        </div>
        <p class="card-text text-center">This content is a little bit longer.</p><br>
        <div class="d-flex justify-content-center align-items-center">
            
            <button type="button" class="btn btn-sm btn-outline-primary">Add to card</button>
            <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
        </div>
    </div>
    </div>
</section>