<section>
  <div class="container-fluid ">
    <!-- Logo section -->
    <div class="row p-2">
      <a  routerLink="/">
        <img class="img-fluid img" src="../assets/1122.jpg" alt="">
      </a>
    </div>


    
    <!-- Categories section -->
    <div class="row justify-content-center align-items-center bg-color">
      <div class="col-md-10">
        <ul class="d-flex align-items-center justify-content-center m-0 p-3">
          <li class="px-5 mx-3"><h5 class="m-0"><a routerLink="Fruits" routerLinkActive="link_active" [routerLinkActiveOptions]="{exact: true}">Fruits</a></h5></li>
          <li class="px-5 mx-3"><h5 class="m-0"><a routerLink="Vegetables" routerLinkActive="link_active">Vegetables</a></h5></li>
          <li class="px-5 mx-3"><h5 class="m-0"><a routerLink="Grocery" routerLinkActive="link_active">Grocery</a></h5></li>
          <li class="px-5 mx-3"><h5 class="m-0"><a routerLink="Diary" routerLinkActive="link_active">Diary</a></h5></li>
        </ul>
      </div>
    </div>

  </div> 
</section>

<router-outlet></router-outlet>